@model System.Collections.Generic.List<BakerAddressBook.Models.Contact>
@{
    ViewData["Title"] = "All Contacts";
}

<h2>All Contacts</h2>

<p><a class="btn" href="/contacts/create/">Add New Contact</a></p>

<table class="table">
    <thead>
    <tr>
        <th>Contact Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Nickname</th>
        <th>Phone Number</th>
        <th>Category</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.ContactId</td>
                <td>@contact.FirstName</td>
                <td>@contact.LastName</td>
                <td>@contact.Nickname</td>
                <td>@contact.PhoneNumber</td>
                <td>@contact.Category</td>
            </tr>
        }
    </tbody>
</table>